.header{
    color: white;
    width: 800px;
    padding: 20px;
    margin: 0;
    text-align: center;
    background-color: darkblue;
}

.content{
    overflow: hidden;
}

.box{
    float: left;
    width: 165px;
    height: 30px;
    border: 1px solid white;
    background-color: darkcyan;
    color: white;
    text-align: center;
    line-height: 2;
}

.box2{
    border: 1px solid white;
    width: 840px;
}

.s1{
    float: left;
    width: 620px;
}

.s2{
    float: right;
    width: 200px;
    height: 200px;
    background-color: skyblue;
    text-align: center;
}

.box3{
    border: 1px solid gray;
    margin-left: 25px;
    margin-top: 5px;
    width: 150px;
    text-align: left;
    background-color: white;    
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    width: 840px;
    height: 50px;
    line-height: 3;
}